* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  body {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    background: url(https://img.freepik.com/premium-photo/plate-food-table-with-blurred-background_1304147-157373.jpg);
    background-size: cover;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #ff6f00; /* Orange */
    margin-bottom: 30px;
    font-weight: 600;
    white-space: nowrap;
  }
   .login-container {
    
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 127, 80, 0.5);
    width: 400px;
    transform: scale(0.98);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   }
  
   .login-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(255, 127, 80, 0.7);
   }
  
   button:hover {
    background-color: #e65c00;
    box-shadow: 0 0 10px rgba(255, 111, 0, 0.5);
    transform: translateY(-2px);
  } 
   button:active {
    transform: translateY(2px);
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 16px;
  }
  
  .input-group input::placeholder {
    color: #aaa;
  }
  
  button {
    width: 100%;
    padding: 14px;
    background-color: #ec8a40; /* Orange */
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .footer-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
  }
  
  .footer-text a {
    color: #ff6f00; /* Orange */
    
  }